:root {
    --background-color: #22222E;
    --button-color: #393A5A;
    --button-touched-color: #706F8E;
    --success-message-color: #528e54;
    --header-color: white;
    --subheader-color: white;
    --footer-color: white;
    --subfooter-color: white;
    --button-text-color: white;
    --header-font: 'header';
    --subheader-font: "subheader";
    --footer-font: 'footer';
    --subfooter-font: "subfooter";
    --button-font: "button";
    --header-font-adjust: 0;
    --subheader-font-adjust: 0;
    --footer-font-adjust: 0;
    --subfooter-font-adjust: 0;
    --button-font-adjust: 0;
    --image-height: 90;
}

@font-face {
    font-family: "header";
    src: url("../_fonts/OpenSans-Bold.ttf");
}
@font-face {
    font-family: "subheader";
    src: url("../_fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "footer";
    src: url("../_fonts/OpenSans-Bold.ttf");
}
@font-face {
    font-family: "subfooter";
    src: url("../_fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "button";
    src: url("../_fonts/OpenSans-Bold.ttf");
}