*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --backgroundColor: #719abf;
  --headerColor: #22222E;
  --footerColor: #22222E;
  --itemColor: #393A5A;
  --lineColor: white;
  --textColor: white;
  --toolbarButtonColor: #393A5A;
}

/* Font definitions */
@font-face {
  font-family: "Header";
  src: url("../_fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Title";
  src: url("../_fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Time";
  src: url("../_fonts/OpenSans-Regular.ttf");
}


@font-face {
  font-family: "Body";
  src: url("../_fonts/OpenSans-Regular.ttf");
}

body {
  background: var(--backgroundColor);
  color: var(--textColor);
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 50px;
  font-family: "Body";
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  background: var(--backgroundColor);
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  /* width: 6px; */
  margin: 0 auto;
  padding-top: 50px;
  background: var(--lineColor);
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div.timeline-element {
  position: relative;
  bottom: 0;
  padding: 15px;
  background: var(--itemColor);
}

.timeline ul li div.timeline-element::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div.timeline-element::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--itemColor) transparent transparent;
}

.timeline ul li:nth-child(even) div.timeline-element {
  left: -439px;
}

.timeline ul li:nth-child(even) div.timeline-element::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent var(--itemColor);
}

time {
  display: block;
  font-weight: bold;
  font-family: "Body";
}

.timeline-item-header {
  font-weight: bold;
  font-family: "Title";
}

#fontSizeDecreaseButton {
    background-color: var(--toolbarButtonColor);
}
#fontSizeIncreaseButton {
    background-color: var(--toolbarButtonColor);
}
#langToggleButton {
    background-color: var(--toolbarButtonColor);
    color: var(--textColor);
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: var(--itemColor);
}

.timeline ul li div.timeline-element {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div.timeline-element {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div.timeline-element {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div.timeline-element {
  transform: none;
  visibility: visible;
  opacity: 1;
}

#header-pane {
    background-color: var(--headerColor);
    font-family: 'Header';
}
#tools-pane {
    background-color: var(--footerColor);
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (orientation: landscape) {
    h1 {
        font-size: 8vh;
    }
    time {
      font-size: 1.8vh;
      margin-bottom: 0.5vh;
    }
    .size1 {
        font-size: 3.1vh;
    }
    .size2 {
        font-size: 2.9vh;
    }
    .size3 {
        font-size: 2.7vh;
    }
    .size4 {
        font-size: 2.5vh;
    }
    .timeline-body {
      font-size: 1.5vh;
    }
    .timeline ul li { 
      width: 0.5vw;
    }
    .timeline ul li:nth-child(odd) div.timeline-element {
      flex-direction: row;
      left: 2.5vw;
    }
    .timeline ul li:nth-child(even) div.timeline-element {
      flex-direction: row-reverse;
      left: -22vw;
      /* - (20 + 2.5 - 0.5) */
    }
    .timeline ul li:nth-child(even) div.timeline-element.with-image {
      left: -32vw;
      /* - (30 + 2.5 - 0.5) */
    }
    .timeline ul li div.timeline-element {
        width: 20vw;
    }
    .timeline ul li div.timeline-element.with-image {
        width: 30vw;
    }
    .timeline-element {
        display: flex;
        gap: 1vh;
    }
    #header-pane {
        height: 15vh;
    }
    #timeline-pane {
        height: 75vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    #tools-pane {
        height: 10vh;
    }
}
  
@media (orientation: portrait) {
    h1 {
        font-size: 4.5vh;
    }
    time {
      font-size: 1vh;
      margin-bottom: 0.3vh;
    }
    .size1 {
        font-size: 2vh;
        font-weight: bold;
    }
    .size2 {
        font-size: 1.7vh;
        font-weight: bold;
    }
    .size3 {
        font-size: 1.5vh;
        font-weight: bold;
    }
    .size4 {
        font-size: 1.3vh;
        font-weight: bold;
    }
    .timeline-body {
      font-size: 0.85vh;
    }
    .timeline ul li { 
      width: 1vw;
    }
    .timeline ul li:nth-child(odd) div.timeline-element {
      left: 4.5vw;
    }    
    .timeline ul li:nth-child(even) div.timeline-element {
      left: -43.5vw;
      /* - (40 + 4.5 - 1) */
    }
    .timeline ul li div.timeline-element {
        width: 40vw;
    }
    .timeline-element {
        display: flex;
        flex-direction: column;
        gap: 1vw;
    }
    #header-pane {
        height: 7.5vh;
    }
    #timeline-pane {
        height: 87.5vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    #tools-pane {
        height: 5vh;
    }
}

/* @media screen and (max-width: 900px) {
  .timeline ul li div.timeline-element {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div.timeline-element {
    left: -289px;
    (250+45-6)
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div.timeline-element {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div.timeline-element::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #393A5A transparent transparent;
  }
} */


/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div.timeline-element::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.timeline-heptagon ul li::after {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}