:root {
  /* Colors */
  --header-color: #706F8E;
  --footer-color: #706F8E;
  --background-color: #719abf;
  --tab-button-color: #6c757d;
  --tab-button-active-color: #22222E;
  --text-color: white;
  --section-header-color: white;
  --section-background-color: #393A5A;
  --section-border-color: #E9E9E9;
  --section-shadow-color: RGBA(34,34,46, .5);

  /* Font faces */
  --header-font: 'header-default';
  --body-font: 'body-default';
  --section-header-font: 'section-header-default';
  --button-font: 'button-default';

  /* Font size */
  --font-size-adjust: 1; /* This is an overall adjustment for the +/- GUI buttons */
  --header-font-size-adjust: 0;
  --section-header-font-size-adjust: 0;
  --body-font-size-adjust: 0;
  --tab-button-font-size-adjust: 0;
}

/* Font definitions */
@font-face {
  font-family: "header-default";
  src: url("../../_fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "body-default";
  src: url("../../_fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "section-header-default";
  src: url("../../_fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "button-default";
  src: url("../../_fonts/OpenSans-Regular.ttf");
}


body, html {
  margin: 0px;
  padding: 0px;
  background: var(--background-color);
  overscroll-behavior-x: none;
  user-select: none;
  /* cursor: none; */
  overflow: hidden;
  font-family: var(--body-font);
}
H1 {
  color: var(--section-header-color);
  font-size: max(min(calc((3.7vh + var(--section-header-font-size-adjust)*1vh) * var(--font-size-adjust)), 5.5vh), calc(3.7vh + var(--section-header-font-size-adjust)*1vh));
  text-align: center;
  font-family: var(--section-header-font);
  transition: font-size 0.1s;
}
H2 {
  color: var(--section-header-color);
  font-size: max(min(calc((3.2vh + var(--section-header-font-size-adjust)*1vh) * var(--font-size-adjust)), 5vh), calc(3.2vh + var(--section-header-font-size-adjust)*1vh));
  font-family: var(--section-header-font);
  transition: font-size 0.1s;
}
H3 {
  color: var(--section-header-color);
  font-size: max(min(calc((2.9vh + var(--section-header-font-size-adjust)*1vh) * var(--font-size-adjust)), 4.8vh), calc(2.9vh + var(--section-header-font-size-adjust)*1vh));
  font-family: var(--section-header-font);
  transition: font-size 0.1s;
}
H4 {
  color: var(--section-header-color);
  font-size: max(min(calc((2.6vh + var(--section-header-font-size-adjust)*1vh) * var(--font-size-adjust)), 4.5vh), calc(2.6vh + var(--section-header-font-size-adjust)*1vh));
  font-family: var(--section-header-font);
  transition: font-size 0.1s;
}
H5 {
  color: var(--section-header-color);
  font-size: max(min(calc((2.3vh + var(--section-header-font-size-adjust)*1vh) * var(--font-size-adjust)), 4.2vh), calc(2.3vh + var(--section-header-font-size-adjust)*1vh));
  font-family: var(--section-header-font);
  transition: font-size 0.1s;
}
H6 {
  color: var(--section-header-color);
  font-size: max(min(calc((2vh + var(--section-header-font-size-adjust)*1vh) * var(--font-size-adjust)), 3.9vh), calc(2vh + var(--section-header-font-size-adjust)*1vh));
  font-family: var(--section-header-font);
  transition: font-size 0.1s;
}
p {
  color: var(--text-color);
  font-size: max(min(calc((1.6vh + var(--body-font-size-adjust)*1vh) * var(--font-size-adjust)), 3.5vh), calc(1.6vh + var(--body-font-size-adjust)*1vh));
  transition: font-size 0.1s;
}
li {
  color: var(--text-color);
  font-size: max(min(calc((1.6vh + var(--body-font-size-adjust)*1vh) * var(--font-size-adjust)), 3.5vh), calc(1.6vh + var(--body-font-size-adjust)*1vh));
  transition: font-size 0.1s;
}
::-webkit-scrollbar {
  width: 0;
}
.bg-primary {
  background-color: var(--tab-button-color)!important;
  border-color: var(--tabbutton-color)!important;
}
.bigImage {
  object-fit: contain;
  max-height: 50vh;
  max-width: 100%;
}
.box {
  background-color: var(--section-background-color);
  padding: 3vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  border-style: solid;
  border-radius: 20px;
  border-color: var(--section-border-color);
  border-width: 10px;
  box-shadow: 1vw 1vw var(--section-shadow-color);
}
.btn-primary {
  background-color: var(--tab-button-active-color)!important;
  border-color: var(--tab-button-active-color)!important;
}
.btn-secondary {
  background-color: var(--tab-button-color)!important;
  border-color: var(--tab-button-color)!important;
}
.card-img-top {
  object-fit: contain;
  max-height: 28vw;
}
.card-title {
  font-size: 2.3vh;
}
.float-left {
  float: left;
  width: 50%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-top: 2%;
  text-align: center;
}
.float-right {
  float: right;
  padding-left: 2%;
  padding-bottom: 2%;
  padding-top: 2%;
  text-align: center;
}

.full {
  text-align: center;
  padding-bottom: 2%;
  padding-top: 2%;
}
.image {
  width: 100%;
}
.overlay {
  position: absolute;
  left: 0px;
  top: 10vh;
  height: 80vh;
  width: 100vw;
  background-color: RGBA(0,0,0, 0.85);
}
.overlayCaption {
  color: white;
  font-size: 50px;
}
.overlayCredit {
  color: white;
  font-size: 30px;
}
.overlayTitle {
  font-size: 75px;
  color: white;
}
.tabButton {
  font-size: calc(2.5vh + var(--tab-button-font-size-adjust) * 1vh);
  font-family: var(--button-font);
}
#attractorImage {
  width: 100%;
}
#attractorOverlay {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 5;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
#attractorVideo {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#buttonRow {
  height: 6vh;
}
#langToggleButton {
  font-size: 2vh;
}
#masthead {
  font-size: calc(6vh + var(--header-font-size-adjust)*1vh);
  height: 10vh;
  line-height: 10vh;
  color: var(--text-color);
  background-color: var(--header-color);
  z-index: 1;
  font-family: var(--header-font);
  transition: font-size 0.1s;
}
#nav-tabContent {
  height: 79vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}
#toolbar {
  background-color: var(--footer-color);
  height: 5vh;
  z-index: 1;
}

@media (orientation: portrait) {
  .float-right, .float-left {
    width: 50%;
  }
}

@media (orientation: landscape) {
  .float-right, .float-left {
    width: 35%;
  }
}