aiofiles
fastapi
flask==2.2.4
libusb
pillow
psutil
PyDMXControl
pyffmpeg
pyftdi
pyobjc; sys_platform == 'darwin'
pyserial
python-dateutil
python-multipart
pyusb
pywebview; sys_platform != 'linux'
pywebview[qt]; sys_platform == 'linux'
requests
sockio
uvicorn